<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div id="header"></div>
</head>


<body>
    <div class="chart_container">
        <canvas id="myChart" width="300" height="300"></canvas>

    </div> 
  


    
<script>
const config = {
    type: 'doughnut',
    data: {
        labels: ['Max Verstappen', 'Lewis Hamilton', 'Valtteri Bottas', 'Lando Norris', 'Sergio Perez',
             'Carlos Sainz', 'Charles Leclerc', 'Daniel Ricciardo', 'Pierre Gasly', 'Fernando Alonso', 'Esteban Ocon',
             'Sebastian Vettel', 'Lance Stroll', 'Yuki Tsunoda', 'George Russell', 'Nicholas Latifi', 'Kimi Räikkönen',
             'Antonio Giovinazzi', 'Mick Schumacher', 'Robert Kubica', 'Nikita Mazepin'],
        datasets: [{
            label: 'Total points of the season',
            data: [262.5, 256.5, 177, 145, 145, 116.5, 116, 95, 74, 58, 46, 35, 26, 18, 16, 7, 6, 1, 0, 0, 0],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        cutout: 300,
        animation: {
            animateScale: true     
        }
        
    }
};

    // CONFIG DATA

var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

     </script> 
     

</body>
</html>